
/** EDITS **/


/* EDITS */


/* transparency for store window gui */

.theme-dark .applicationStore-1pNvnv {
    background-color: rgba(0, 0, 0, var(--background-opacity));;
}

/* transparency for library window gui */
.theme-dark .gameLibrary-TTDw4Y {
    background-color: rgba(0, 0, 0, var(--background-opacity));;
}

/* background of user settings */
.theme-dark .standardSidebarView-3F1I7i {
    background: rgba(242, 237, 246, 0);
}

.theme-dark .sidebarRegion-VFTUkN {
    background: rgba(47, 49, 54, 0);
}

.theme-dark .contentRegion-3nDuYy {
    background: rgba(54, 57, 63, 0);
}


/* @here */
.bd-blue .mention {
    color: var(--username-color);
}
/* background color */
.theme-dark .isMentioned-N-h9aa {
    background: transparent;
}



/* fix backgreound of guild */
.theme-dark .wrapper-1Rf91z {
    background-color: #00000045;
}


/*------------------ THE ACTUAL LOGIC . DONT DOWNLOAD FOR THEMES IN BD ---------------------------*/


.wordmark-2iDDfm path {display: none}
.wordmark-2iDDfm::after {font-family: var(--username-font); color: var(--username-color); white-space: pre;content: var(--username)"  (version 3.5)";position: absolute;left: 15px;width: 150px;font-size: var(--username-font-size)}

.emojiItem-109bjA:hover {
    transform: scale(1.5);
    background-image: transparent;
    padding: 0px;
}

/* NSFW Content */
.theme-dark .title-1VcOOr {
    text-indent: -9999px;
    line-height: 0;
}
/* NSFW TITLE */
.theme-dark .title-1VcOOr:after {
    content: "Lewd Zone";
    text-indent: 0;
  display: block;
  line-height: initial;
    color:#ff8c00;
}
/* NSFW desc */
.theme-dark .description-2ydcYn {
    text-indent: -9999px;
    line-height: 0;
}

.theme-dark .description-2ydcYn:after {
    content: "There may be content that is not suitable for all audiences.";
    text-indent: 0;
    display: block;
     line-height: initial;
    color: #ff8c00;
}

/* NSFW CONTINUE */
.actionRed-gYn8D3 {
    text-indent: -9999px;
    line-height: 0;
}

.actionRed-gYn8D3:before {
    content: "OPPAI";
    position: fixed;
    text-indent: 0;
    display: block;
     line-height: initial;
    color: #ffffff;
}

/* NOTIFICATION*/
.wrapper-232cHJ {
    background-color: var(--notification-color);
    }

    /* End Call bar transparency */
    .theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
        background-color: rgba(24, 25, 28, 0.58);
        border-color: rgba(168, 39, 39, 0.16);
    }
     
    

 /**FIXER **/
    .theme-dark .headerBar-UHpsPw,
    .theme-dark .chat-3bRxxu, 
    .theme-dark .messagesWrapper-3lZDfY,
    .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,
    .content-yTz4x3,
    #voice-connection, 
    #friends, 
    #app-mount .activityFeed-28jde9,
    #app-mount .da-activity-feed,
    .theme-dark .guildsWrapper-5TJh6A,
    .theme-dark #friends,
    .friends-header, 
    .friends-table, 
    .guilds-wrapper, 
    .guild-header header, 
    .channels-wrap, 
    .private-channels .search-bar, 
    .private-channels, 
    .guild-channels, 
    .account, 
    .friend-table-add-header,
    .chat, 
    .content, 
    .title-wrap:not(.search-bar), 
    .messages-wrapper, 
    .messages .divider span, 
    .messages .divider:before, 
    .content, .message-group-blocked, 
    .is-local-bot-message,
    .channel-members-loading, 
    .channel-members-loading .heading, 
    .channel-members-loading .member, 
    .typing, 
    .container-RYiLUQ, 
    .theme-dark .ui-standard-sidebar-view, 
    .theme-dark .ui-standard-sidebar-view .sidebar-region,
    .theme-dark .ui-standard-sidebar-view .content-region,
    .theme-dark .channel-members,
    .container-2OU7Cz,
    .theme-dark .chat form, 
    .channels-3g2vYe, 
    .theme-dark .friends-table, 
    .theme-dark .messages-wrapper, 
    .content .flex-spacer, 
    .theme-dark .chat>.content, 
    .theme-dark .chat, 
    .channel-members, 
    .search .search-bar, 
    .container-iksrDt, 
    .container-3lnMWU, 
    .theme-dark .title-qAcLxz, 
    .theme-dark .typing-3eiiL_,
    .theme-dark .activityFeed-HeiGwL,
    .theme-dark .headerBar-cxbhPD,
    .theme-dark .lfg-3xoFkI,
    .video-3lOWa6,
    .theme-dark .private-channel-call,
    .container-2lgZY8,
    .channels-Ie2l6A,
    .container-PNkimc,
    .container-2Thooq,
    .theme-dark .typing-2GQL18,
    .search-bar.search-bar-light,
    .theme-dark .layer-3QrUeG, 
    .theme-dark .layers-3iHuyZ,
	.channelNotices-41mJbj .channelNotice-1-XFjC.premiumGuildSubscription-3oKecP,
	.theme-dark .activityFeed-1C0EmJ,
    .videoInner-3OR9J2,
    .video-1FfuMD,
    .theme-dark .wrapper-29NfPK,
    .theme-dark .members-1998pB{
      background: rgba(0, 0, 0, var(--background-opacity));
      z-index: 0;
      backface-visibility: hidden;
      
    }

.theme-dark .container-1r6BKw {
	 background: rgba(0, 0, 0, var(--background-opacity));
}
	
	.theme-dark .transparent-2ZlE3R .title-29uC1r:not(.titleMuted-LYRtm8), .theme-light .transparent-2ZlE3R .title-29uC1r:not(.titleMuted-LYRtm8) {
		color: var(--main-color);
	}
	
	/* pins and search */
	.theme-dark .transparent-2ZlE3R .clickable-3rdHwn .icon-22AiRD, .theme-light .transparent-2ZlE3R .clickable-3rdHwn .icon-22AiRD {
	 color: var(--main-color);
	 }
    

   /* top bar */
    
    
    .theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {
        color: var(--main-color);
    }
    
    /* Private messaging, private group chats, etc */
    .private-channels {
     background: rgba(0, 0, 0, --background-opacity);
    }
    
    
    /* top title bar opacity */
    .titleBar-AC4pGV::after {content:"";background: rgba(0, 0, 0, calc(var(--background-opacity) + 0.3));position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px}
    
    /* default channel already read */
    .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
        color: var(--channel-color);
        font-family: var(--main-font);
    }
    /* user connected */
    .nameConnectedVoice-MHUX5F, .name-3M0b8v, .overflowEllipsis-jeThUf
    {
        font-family: var(--main-font);
    }
    
    /* title rank rightside */
    .theme-dark .membersGroup-v9BXpm {
        font-family: var(--main-font);
        color: var(--channel-color);
    }
    
    /* user rank on right */
    .theme-dark .memberOnline-1CIh-0 {
        font-family: var(--main-font);
    }
    
    /* hovering over channels */
    
    .content-20Aix8:hover,
    .contentConnectedVoice-qL-YrL:active, 
    .contentHoveredText-2D9B-x, 
    .contentHoveredVoice-3p_NEO:active, 
    .contentSelectedVoice-1WDIBM:active,
    .nameDefaultText-24KCy5:hover {
        background-color: var(--hover-color);
    
    }
      .overflowEllipsis-jeThUf:hover  {
        color: var(--hover-text-color);
    }
    
    /* default voice channel user */
    .name-2upRM5, .nameHovered-21k1eo,
    .margin-reset {
        color: var(--voice-user-color);
        font-family: var(--main-font);
    
    }
    /* tooltip for guilds */
    .bd-blue .tooltip {
        background-color: var(--main-color);
    }
    



    /* unread messages */
    .unread-1xRYoj {
        background-color: var(--main-color);
    }
    /* new message in friends dm*/
    .mention-1f5kbO {
        background-color: var(--notification-color);
    }
    
    /* selected members */
    .theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
        background-color:var(--channel-selected-color);
        color: #fff;
    }
    /* hovering in guild members */
    .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
        background-color: var(--hover-color);
        color: #fff;
    }
    
    /* selected in dm friends */
    .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--channel-selected-color)
    } 
    
    /* hovering in dm friends */
    .channel-2QD9_O:hover a {
        background-color: var(--hover-color);
        color: #fff;
    }
    
    /* unread channel */
    .nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
        color: var(--unread-color);
        font-family: var(--main-font);
    }
    
    /* channel selected color */
    .contentSelectedText-3wUhMi{
        background-color: var(--channel-selected-color);
    }
    
    /* channel selected on hover */
    .contentSelectedText-3wUhMi:hover{
        background-color: var(--channel-selected-color);
    }
    
    /* font for all chat */
    .da-name .da-overflowEllipsis {
            font-family: var(--main-font);
         
    }
    /* speak color */
    .avatarSpeaking-1wJCNq {
        -webkit-box-shadow: 0 0 0 2px #43b581, inset 0 0 0 1.5px #2f3136;
        box-shadow: 0 0 0 2px var(--voice-speak-color), inset 0 0 0 1.5px #2f3136;
    }
    
   /* timestmamp color */
   .theme-dark .timestampCozy-2hLAPV {
    color: var(--timestamp-color);
}



    /* chat color */
    .theme-dark .markup-2BOw-j  {
    color: var(--chat-color);
    font-family: var(--chat-font);
    font-size: var(--font-size);
    }

    .username-_4ZSMR, .usernameWrapper-1S-G5O .username-_4ZSMR {
    color: var(--chat-color);
    font-family: var(--chat-font);
    font-size: calc(var(--font-size) + 1px);
    }
    /* emoji */
    .emoji, .emoji.jumboable {
        -o-object-fit: contain;
        height: var(--emoji-size);
        margin-left: .05em;
        margin-right: .1em;
        object-fit: contain;
        vertical-align: -.4em;
        width: var(--emoji-size);
    }
    /* hovering on profile */
    .bda-dark #bda-qem:hover button:hover {
        background-color: var(--hover-color);
    }
    .bda-dark #bda-qem button {
        background-color: var(--main-color);
    
    }
    
    .bda-dark #bda-qem button.active {
        background-color: var(--channel-selected-color);
    }
    
    /* friends gui */
	.theme-dark .container-3gCOGc {
    background-color: rgba(0, 0, 0, var(--background-opacity));;
}

/* add friedn button */
.tabBar-1E2ExX .primary-3j8BhM {
    background-color: #7289da;
    color: #fff;
    margin-top: 20px;
    top: -13px;
}

/* all online pending blocked */
.topPill-30KHOu .item-PXvHYJ {
    top: 6px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .4px;
    line-height: 18px;
    margin: 0 8px;
    padding: 2px 8px;
}

/*hovering another selector in friends gui */
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: var(--hover-color);
}





/* friends notif request add me pls*/
.tabBar-1E2ExX .badge-xFJoEU {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #693939;
    font-weight: 700;
    margin-left: 4px;
    padding: 3px 5px;
    text-shadow: none;
    vertical-align: top;
    bottom: 0px;
    left: 16px;
}

    
    .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,
    .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar, .bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container{
        background-color: var(--emoji-menu-background);
    }
    
    .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA>.spriteItem-2AFL7r {
        height: 22px;
        margin: 3px;
        width: 22px;
        background-color:transparent;
    }
    .emojiItem-109bjA>.spriteItem-2AFL7r:hover{
    }
    
    .theme-dark .headerNormal-T_seeN,
    .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .headerPlaying-j0WQBV, .theme-dark .body-3ND3kc {
        background-color: rgba(47, 49, 54, 0.86);
        color: var(--main-color);
    }
    
    
    .theme-dark .body-3ND3kc, 
     {
        background-color: var(--main-color)
    }
    
    .bd-blue .tab-bar.TOP .tab-bar-item.selected {
        border-bottom: 2px solid var(--channel-selected-color);
        color: var(--channel-selected-color);
    }
    
    
    .lookFilled-1Gx00P.colorGreen-29iAKY {
        background-color: #43b581;
        color: var(--main-color);
    }
    
    /* channel selected and hovering */

.channel-2QD9_O.selected-1HYmZZ:hover a {
    background-color: var(--channel-selected-color);
}


/* guild notif */
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background-color: var(--notification-mention-color);
}

/* color in user settings */
.theme-dark .itemDefault-3Jdr52, .theme-dark .itemHover-EnbcjT {
    color: var(--main-color);
}

/* color in bd settings */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item {
    color: var(--main-color);
}

/* bandaged bd user settings */
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: #4c8dff;
}


.da-dms .da-badge {
	top: -50px;
}

.da-appMount .guild-1EfMGQ.audio-3vVhBi .da-guildInner::after {
	top: 2px;
	right: -2px;
	background-color: transparent;
}

.da-guildsWrapper .da-scroller {
	padding-right: 14px;
}



/* left side of user settings interface */
.theme-dark .sidebarRegion-VFTUkN {
    background: rgba(0, 0, 0, 0.75);
}
/* right side of user settings interface */

.theme-dark .contentRegion-3nDuYy {
    background: rgba(0, 0, 0, 0.75);
}

/*gui for create join server */
.theme-dark .action-1lSjCi, .theme-light .action-1lSjCi {
    background: hsla(258, 41%, 20%, 0.75);
} 

/*button for creating or joining server */
.da-appMount .da-guildsWrapper .da-guilds .da-guildsAdd {
	width: var(--meadiatorwidth, 50px);
	height: var(--meadiatorheight, 50px);
	border-radius: var(--guildborderradius, 50%);
	box-sizing: border-box;
	position: relative;
	margin-top: 4px;
	margin-bottom: 4px;
	
	transition: all .2s ease-in-out;
}

/* scaling the button to join/create server */
.da-appMount .da-guildsWrapper .da-guilds .da-guildsAdd:hover {

	transform: scale(1.1);		
  }
  
  /*wrapper for create/join another server */
  .theme-light .wrapper-2ZbzR9 {
    background: #bd0c0c00;
}
  
  .theme-light .slide-2pHaq5 {
	background: #e3e6f100;
  }


/*Read all button alligns correctly.*/
#RANbutton-frame.da-guild {
	margin: auto;
}

.da-guildsWrapper .da-guilds {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ:first-child.selected-ML3OIq:before { 
	display: none;
}

.da-guildsWrapper .da-guilds .da-guildSeparator {
	position: relative;
	width: 100%;
	margin-top: 0px;
}

.da-guildsWrapper .da-guilds .da-friendsOnline {
	top: 12px;
	position: relative;
	width: 100%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ {
	position: relative;
}

.da-guildsWrapper .da-guilds .da-dms {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.da-guildsWrapper .da-guilds .da-dms .da-guild {
	left: 0;
	top: 2px;
}
.guildInner-3DSoA4:hover, .da-guildInner:hover, .bd-blue:hover {
    background: var(--hover-color) !important;
    transition: background-color 0.5s ease-out;
}

.guildInner-3DSoA4t, .guildInner-3DSoA4, .da-guildInner, .bd-blue{
    background: var(--main-color) !important;
    transition: background-color 1.5s ease-in;
}

.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq {
    background-color:var(--channel-selected-color);
}

/*removes scrollbar.*/

.da-appMount .da-guildsWrapper .scroller-wrap .scroller::-webkit-scrollbar {
	width: 0px; /*14*/
}

.da-appMount .da-guildsWrapper .da-scroller::-webkit-scrollbar-thumb {
	background-color: transparent; /*#202225*/
	border-color: transparent; /*#36393f*/
}

.da-appMount .da-guildsWrapper .da-scroller::-webkit-scrollbar-track-piece {
	background-color: transparent; /*#2f3136*/
	border-color: transparent; /*#36393f*/
	border-radius: 0px; /*7px*/
}
/*End of scrollbar fix.*/

.wrapper-1Rf91z {
	width: calc(1px * ((50 + 10) * var(--vcolumns, 1) + 35 - 25)) !important;
}
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
	width: calc(1px * ((50 + 10) * var(--vcolumns, 1) + 35)) !important;
}
.wrapper-1Rf91z,
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
	padding: 0 !important;
}
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN {
	padding: 10px 0 10px 10px !important;
}
.wrapper-1Rf91z .scroller-2TZvBN {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC,
.wrapper-1Rf91z .scroller-2TZvBN .guildsErrorContainer-2uWYsE,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC + div[class=""],
.wrapper-1Rf91z .scroller-2TZvBN .guildsErrorContainer-2uWYsE + div[class=""],
.wrapper-1Rf91z .scroller-2TZvBN .createJoinContainer-2Av064,
.wrapper-1Rf91z .scroller-2TZvBN .container-11WMXy {
	margin: 4px 13px 4px -2px !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK,
.wrapper-1Rf91z .scroller-2TZvBN #server-search,
.wrapper-1Rf91z .scroller-2TZvBN .lurkingGuild-3ZJ1gi,
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs {
	margin: 4px calc(1px * (((50 + 10) * (var(--vcolumns, 1) - 1))/2)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .circleIconButton-jET_ig,
.wrapper-1Rf91z .scroller-2TZvBN .lurkingGuild-3ZJ1gi .container-2td-dC {
	margin: 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .lurkingGuild-3ZJ1gi,
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs,
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs .homeButton-2Cw51C,
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs .homeLink-2NBBKi,
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs .homeIcon-tEMBK1,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK .wrapper-2lTRaf .avatar-3f3jk4,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK .wrapper-2lTRaf .avatar-3f3jk4 a,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC:not(#bd-pub-li),
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC:not(#bd-pub-li) .wrapper-2lTRaf a,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86,
.wrapper-1Rf91z .scroller-2TZvBN .guildsErrorContainer-2uWYsE,
.wrapper-1Rf91z .scroller-2TZvBN .guildsError-b7zR5H,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC + div[class=""],
.wrapper-1Rf91z .scroller-2TZvBN .guildsErrorContainer-2uWYsE + div[class=""],
.wrapper-1Rf91z .scroller-2TZvBN .createJoinContainer-2Av064,
.wrapper-1Rf91z .scroller-2TZvBN .container-11WMXy,
.wrapper-1Rf91z .scroller-2TZvBN .circleIconButton-jET_ig {
	height: calc(1px * 50) !important;
	width: calc(1px * 50) !important;
	line-height: calc(1px * 50) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC:not(#bd-pub-li):not(.circleIconButton-jET_ig) {
	border: none !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-1ETFDs .wrapper-2lTRaf .homeIcon-tEMBK1,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK .wrapper-2lTRaf .avatar-3f3jk4,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86 {
	background-size: cover !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86 {
	font-size: calc(1px * (50/5)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86[style*="font-size: 12px"] {
	font-size: calc(1px * (50/4.1666)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86[style*="font-size: 14px"] {
	font-size: calc(1px * (50/3.5714)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86[style*="font-size: 16px"] {
	font-size: calc(1px * (50/3.125)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC .wrapper-2lTRaf .guildIcon-VlWW86[style*="font-size: 18px"] {
	font-size: calc(1px * (50/2.7777)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .circleIconButton-jET_ig .plus-3UqSQu {
	display: block !important;
	position: static !important;
	width: calc(1px * (50 - (50/30))) !important;
	font-size: calc(1px * (50/(5/4))) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .guildsError-b7zR5H {
	font-size: calc(1px * (50/(5/2))) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .guildsError-b7zR5H {
	line-height: calc(1px * (50 - 5)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .circleIconButton-jET_ig .plus-3UqSQu {
	line-height: calc(1px * (50 - (50/5))) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-11WMXy .circleIconButton-jET_ig svg {
	width: calc(1px * (50/2)) !important;
	height: calc(1px * (50/2)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .wrapper-232cHJ {
	font-size: calc(1px * (50/4)) !important;
	padding: calc(1px * (50/10 - 2)) calc(1px * (50/10 + 1)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .wrapper-232cHJ.badge-2_fwUZ {

}
.wrapper-1Rf91z .scroller-2TZvBN .wrapper-2lTRaf[style*="border-radius: 23"],
.wrapper-1Rf91z .scroller-2TZvBN .wrapper-2lTRaf[style*="border-radius: 24"],
.wrapper-1Rf91z .scroller-2TZvBN .wrapper-2lTRaf[style*="border-radius: 25"] {
	transition: all .2s linear !important;
	border-radius: 50% !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.unread-2OHH1w:before,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before {
	top: 50% !important;
	left: -8px !important;
	border-radius: 0px 50px 50px 0px !important;
	width: 5px !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.unread-2OHH1w:before {
	height: calc(1px * (46.03756 + (9.744341 - 46.03756)/(1 + ((50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791))))) !important;
	margin-top: calc(1px * ((46.03756 + (9.744341 - 46.03756)/(1 + ((50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791)*(50/67.64791))))/-2)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before {
	height: calc(1px * (106.6077 + (19.08392 - 106.6077)/(1 + ((50/71.81239)*(50/71.81239)*(50/71.81239)*(50/71.81239))))) !important;
	margin-top: calc(1px * ((106.6077 + (19.08392 - 106.6077)/(1 + ((50/71.81239)*(50/71.81239)*(50/71.81239)*(50/71.81239))))/-2)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK.pinned:before,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK.audio-3sNR7M:after,
.wrapper-1Rf91z .scroller-2TZvBN .container-1aNBdK.video-3I9W8t:after,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.audio-2KA0-x:after,
.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.video-2jNDI4:after {
	border-radius: 50% !important;
	height: calc(1px * (50/2)) !important;
	width: calc(1px * (50/2)) !important;
	background-size: calc(1px * (50/3)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .guildSeparator-3s64Iy {
	width: calc(1px * ((50 + 10) * var(--vcolumns, 1) - 10)) !important;
	margin: 10px 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .friendsOnline-2JkivW {
	font-size: calc(1px * ((50/8) + 3.75)) !important;
}
#bd-pub-li,
#bd-pub-li .wrapper-2lTRaf,
#bd-pub-li .wrapper-2lTRaf a {
	height: calc(1px * ((50/5) + 10)) !important;
	display: none;
}
.wrapper-1Rf91z .scroller-2TZvBN .friendsOnline-2JkivW,
#bd-pub-li,
#bd-pub-li .wrapper-2lTRaf,
#bd-pub-li .wrapper-2lTRaf a {
	width: calc(1px * ((50*4/5) + 10)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN .friendsOnline-2JkivW,
#bd-pub-li {
	text-align: center;
	margin: 4px calc(1px * (((50 + 10) * (var(--vcolumns, 1) - 1) - ((50*4/5) + 10) + 50)/2)) !important;
}
#bd-pub-li #bd-pub-button {
	font-size: calc(1px * ((50/10) + 7)) !important;
	line-height: calc(1px * ((50/5) + 10)) !important;
}


.da-guilds .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd), .da-guilds .guild-1EfMGQ:not(:first-child):not(#bd-pub-li):not(#RANbutton-frame):not(.da-guildsAdd) *:not(.da-badge):not(.da-guildsError) {
	width: var(--meadiatorwidth, 50px);
	height: var(--meadiatorheight, 50px);
	font-size: calc(18px) ; /*required*/
	line-height: var(--meadiatorheight, 50px);
	border-radius: var(--guildborderradius, 50%);
}

.da-guilds .da-guildsError {
	width: var(--meadiatorwidth, 50px);
	height: var(--meadiatorheight, 50px);
    font-size: calc(18px); /*required*/
	line-height: var(--meadiatorheight, 50px);
	margin-top: 4px;
}



#app-mount .da-guildsWrapper .selected-ML3OIq:before {
    
    background-color: var(--channel-selected-color)
    
}

.da-guildsWrapper .da-guilds .unread-qLkInr:not(.selected-ML3OIq)::before {
    position: absolute;
    left: 2px;
    top: 10px;
    z-index: 9000;
    width: calc(12px );
    height: calc(12px);
    border-radius: 100%;
    border-style: solid;
}

.badge-2_fwUZ {
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0px;
}

.da-badge {
    box-sizing: border-box;
    display: table-cell;
    /* bottom: calc(15px); */
    /* left: 0px; */
    /* position: relative; */
    padding: calc(2px ) calc(4px ) calc(2px ) calc(4px);
    background-color: var(--notification-color);
    text-align: center;
    vertical-align: middle;
}

.homeIcon-tEMBK1 {
    height: 60px;
    width: 60px;
}

.name-3_Dsmg {
	font-family: var(--main-font);
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN {
	padding: 5px 0px 0px 0px !important;
}

.name-3_Dsmg {
	font-family: var(--main-font);
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN {
	padding: 5px 0px 0px 0px !important;
}
    
.theme-dark .clickable-3rdHwn .icon-22AiRD {
	color: var(--main-color);
}
.theme-dark .clickable-3rdHwn:hover .icon-22AiRD:hover {
	color: var(--channel-selected-color);
}

#app-mount > div.app-19_DXt.da-app.platform-win > div > div.layers-3iHuyZ.da-layers.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn.spacer-1fA9zc.da-spacer > div > div > div.wrapper-1Rf91z.da-wrapper > div.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerWrap-1IAIlv.da-scrollerWrap.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairline-DBD-2d > div > div:nth-child(2) > div > div.blob-3RT82C.da-blob.wrapper-25eVIn.da-wrapper > div > div > div{    background-color: var(--notification-color) !important;

}

.item-2hkk8m {
	background-color: var(--main-color);
}

.homeIcon-tEMBK1 {

    position: unset;
    
}

	
	
    
 

