//META{"name":"Village","description":"A fresh lightweight theme for Discord with 15+ customizable variables for your use!","author":"Kotori#4236","version":"1.0"}*//{}

/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: Links must be HTTPS, you can use GIF, PNG, JPG!
---------------------------------------------------------------------------------------------------------------------------------------------
-> If some elements are broken, there is either: A new theme version available, or Discord has just updated and you need to redownload Zere's copy.
-> If you notice elements are broken for a prolonged amount of time, lmk on discord Kotori#4236. 
---------------------------------------------------------------------------------------------------------------------------------------------
*/

/* IMPORT CSS FROM GITHUB, this is the ENTIRETY logic and "makeup" for discord's feel. 
@import url('https://rawgit.com/KotoriXIII/Village/master/VillageLogic.css');  */

@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* USERNAME */
    --username: "Kotori"; /*For wordmark top left. */
    --username-color: rgb(255, 100, 73); /* For colored word mark top left and @mentions in chat*/
    --username-font-size: 18px; 
    --username-font: "Gamja Flower";
    /* COLORS */
    --main-color: #696969; /* For things like pins, help, public bar, initial color in a guild, you won't miss it.  etc */
    --notification-color: rgb(173, 64, 44); /* if you were mentioned/tagged in a guild OR notification from friends private messaging*/
    --notification-mention-color: rgb(73, 85, 255); /* guild unread message */
    --notification-mention-outline-color: white;
    --voice-user-color: #00c8cf; /* A connected voice user. The color of a member in a voice channel */
    --hover-color: rgba(57, 101, 167, 0.2); /* Hovering over channels or guilds will give you this color */
    --hover-text-color: grey; /* If you wish to change text color as well, do so, but I suggest keep it the same as variable: channel-color */
    --channel-color: grey; /* The default channel color (read messages) */
    --unread-color: white; /* Unread messages in a text channel */
    --channel-selected-color: rgb(124, 65, 70); /* A selected text channel when typing will show you what channel you're in */
    --voice-speak-color: rgb(112, 39, 34); /* When a voice user speaks in a voice channel, what color do you like to show! */
    --chat-color: white; /* color from chat messaging */
    --timestamp-color: orange;
    --emoji-menu-background: rgba(65, 24, 0, 0.9); /*emoji menu background when sending messages*/

    /* FONTS */
    --main-font: "Gamja Flower"; /* All other fonts aside chat */
    --chat-font: ; /*default discord font */
    --font-size: 15px; /* only affects chat font */
		
    /* MISC */
    --background-opacity: 0.15; 
    --emoji-size: 1.5em;

    /* GUILDS COLUMN OPTIONS */
    --nocollapsiblegrid: collapse; /*This variable is used to manipulate whether you'd like to hover over your guilds to popout. To change -> (inherit / collapse) */
	--vcolumns: 2;
	--vguildsize:50;
	--vguildroundness: 50%;
    
    /*
     Let me know what other settings I should add ^-^. Kotori#4236
    */
    
}
/* IMAGE LINKS AND CUSTOMIZATION*/


/* BACKGROUND IMAGES : Place the background image variable in this layer */
.appMount-3lHmkl {
    background-image: url('https://wallpapercave.com/wp/wp1951626.jpg'); /* Sea and Your Name url('https://wallpapercave.com/wp/wp1951626.jpg');*/
    background-size: cover;   
    background-position: center;
    position: relative;
}  

/* DM IMAGE : Home Icon using the DM icon also known as the friend's private message icon.*/
.theme-dark .homeIcon-1FoKUJ {
    color: rgba(0, 0, 0, 0);
    background-image: url('https://i.pinimg.com/originals/09/6d/f0/096df0eb195b8f0d9475924f9a1e9425.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}

/* PROFILE IMAGE  | CLICK ONCE (i.e shows games and note)*/
.headerTop-3C2Zn0 {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/006/079/376/large/way-way-juren4.jpg?1495894329);
    position: relative;
    background-position: center;
    background-size: cover;
}

/* PROFILE IMAGE | ENTIRE PROFILE (i.e: mutual friends, servers, etc) */
.theme-dark .topSectionNormal-2-vo2m,
.topSectionPlaying-1J5E4n {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/006/079/376/large/way-way-juren4.jpg?1495894329);
    background-position: center;
    position: relative;
    background-size: cover;
}

/* NSFW IMAGE | you know this image... once you enter a nsfw channel */
.theme-dark .image-2LqJex {
    background-image: url(https://pm1.narvii.com/6457/da28ac7d6854d7278c19ebbbbd567c902c20ad8c_hq.jpg);
}



















    
    /**FIXER **/
    .theme-dark .headerBar-UHpsPw,
    .theme-dark .chat-3bRxxu, 
    .theme-dark .messagesWrapper-3lZDfY,
    .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3,
    .content-yTz4x3,
    #voice-connection, 
    #friends, 
    #app-mount .activityFeed-28jde9,
    #app-mount .da-activity-feed,
    .theme-dark .guildsWrapper-5TJh6A,
    .theme-dark #friends,
    .friends-header, 
    .friends-table, 
    .guilds-wrapper, 
    .guild-header header, 
    .channels-wrap, 
    .private-channels .search-bar, 
    .private-channels, 
    .guild-channels, 
    .account, 
    .friend-table-add-header,
    .chat, 
    .content, 
    .title-wrap:not(.search-bar), 
    .messages-wrapper, 
    .messages .divider span, 
    .messages .divider:before, 
    .content, .message-group-blocked, 
    .is-local-bot-message,
    .channel-members-loading, 
    .channel-members-loading .heading, 
    .channel-members-loading .member, 
    .typing, 
    .container-RYiLUQ, 
    .theme-dark .ui-standard-sidebar-view, 
    .theme-dark .ui-standard-sidebar-view .sidebar-region,
    .theme-dark .ui-standard-sidebar-view .content-region,
    .theme-dark .channel-members,
    .container-2OU7Cz,
    .theme-dark .chat form, 
    .channels-3g2vYe, 
    .theme-dark .friends-table, 
    .theme-dark .messages-wrapper, 
    .content .flex-spacer, 
    .theme-dark .chat>.content, 
    .theme-dark .chat, 
    .channel-members, 
    .search .search-bar, 
    .container-iksrDt, 
    .container-3lnMWU, 
    .theme-dark .title-qAcLxz, 
    .theme-dark .typing-3eiiL_,
    .theme-dark .activityFeed-HeiGwL,
    .theme-dark .headerBar-cxbhPD,
    .theme-dark .lfg-3xoFkI,
    .video-3lOWa6,
    .theme-dark .private-channel-call,
    .container-2lgZY8,
    .channels-Ie2l6A,
    .container-PNkimc,
    .container-2Thooq,
    .theme-dark .title-3qD0b-,
    .theme-dark .typing-2GQL18,
    .search-bar.search-bar-light,
    .theme-dark .layer-3QrUeG, 
    .theme-dark .layers-3iHuyZ,
    .videoInner-3OR9J2,
    .video-1FfuMD,
    .theme-dark .wrapper-29NfPK,
    .theme-dark .members-1998pB{
      background: rgba(0, 0, 0, var(--background-opacity));
      z-index: 0;
      backface-visibility: hidden;
      
    }
    
    
    /* top bar */
    
    
    .theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {
        color: var(--main-color);
    }
    
    /* Private messaging, private group chats, etc */
    .private-channels {
     background: rgba(0, 0, 0, --background-opacity);
    }
    
    
    /* top title bar opacity */
    .titleBar-AC4pGV::after {content:"";background: rgba(0, 0, 0, calc(var(--background-opacity) + 0.3));position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px}
    
    /* default channel already read */
    .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
        color: var(--channel-color);
        font-family: var(--main-font);
    }
    /* user connected */
    .nameConnectedVoice-MHUX5F, .name-3M0b8v, .overflowEllipsis-jeThUf
    {
        font-family: var(--main-font);
    }
    
    /* title rank rightside */
    .theme-dark .membersGroup-v9BXpm {
        font-family: var(--main-font);
        color: var(--channel-color);
    }
    
    /* user rank on right */
    .theme-dark .memberOnline-1CIh-0 {
        font-family: var(--main-font);
    }
    
    /* hovering over channels */
    
    .content-20Aix8:hover,
    .contentConnectedVoice-qL-YrL:active, 
    .contentHoveredText-2D9B-x, 
    .contentHoveredVoice-3p_NEO:active, 
    .contentSelectedVoice-1WDIBM:active,
    .nameDefaultText-24KCy5:hover {
        background-color: var(--hover-color);
    
    }
      .overflowEllipsis-jeThUf:hover  {
        color: var(--hover-text-color);
    }
    
    /* default voice channel user */
    .name-2upRM5, .nameHovered-21k1eo,
    .margin-reset {
        color: var(--voice-user-color);
        font-family: var(--main-font);
    
    }
    /* tooltip for guilds */
    .bd-blue .tooltip {
        background-color: var(--main-color);
    }
    
    /* unread messages */
    .unread-1xRYoj {
        background-color: var(--main-color);
    }
    /* new message in friends dm*/
    .mention-1f5kbO {
        background-color: var(--notification-color);
    }
    
    /* selected members */
    .theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
        background-color:var(--channel-selected-color);
        color: #fff;
    }
    /* hovering in guild members */
    .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
        background-color: var(--hover-color);
        color: #fff;
    }
    
    /* selected in dm friends */
    .channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--channel-selected-color)
    } 
    
    /* hovering in dm friends */
    .channel-2QD9_O:hover a {
        background-color: var(--hover-color);
        color: #fff;
    }
    
    /* unread channel */
    .nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
        color: var(--unread-color);
        font-family: var(--main-font);
    }
    
    /* channel selected color */
    .contentSelectedText-3wUhMi{
        background-color: var(--channel-selected-color);
    }
    
    /* channel selected on hover */
    .contentSelectedText-3wUhMi:hover{
        background-color: var(--channel-selected-color);
    }
    
    /* font for all chat */
    .da-name .da-overflowEllipsis {
            font-family: var(--main-font);
         
    }
    /* speak color */
    .avatarSpeaking-1wJCNq {
        -webkit-box-shadow: 0 0 0 2px #43b581, inset 0 0 0 1.5px #2f3136;
        box-shadow: 0 0 0 2px var(--voice-speak-color), inset 0 0 0 1.5px #2f3136;
    }
    
   /* timestmamp color */
   .theme-dark .timestampCozy-2hLAPV {
    color: var(--timestamp-color);
}


    /* chat color */
    .theme-dark .markup-2BOw-j  {
    color: var(--chat-color);
    font-family: var(--chat-font);
    font-size: var(--font-size);
    }

    .username-_4ZSMR, .usernameWrapper-1S-G5O .username-_4ZSMR {
    color: var(--chat-color);
    font-family: var(--chat-font);
    font-size: calc(var(--font-size) + 1px);
    }
    /* emoji */
    .emoji, .emoji.jumboable {
        -o-object-fit: contain;
        height: var(--emoji-size);
        margin-left: .05em;
        margin-right: .1em;
        object-fit: contain;
        vertical-align: -.4em;
        width: var(--emoji-size);
    }
    /* hovering on profile */
    .bda-dark #bda-qem:hover button:hover {
        background-color: var(--hover-color);
    }
    .bda-dark #bda-qem button {
        background-color: var(--main-color);
    
    }
    
    .bda-dark #bda-qem button.active {
        background-color: var(--channel-selected-color);
    }
    
    /* friends gui */
	.theme-dark .container-3gCOGc {
    background-color: #36393f00;
}

/* add friedn button */
.tabBar-1E2ExX .primary-3j8BhM {
    background-color: #7289da!important;
    color: #fff!important;
    margin-top: 20px;
    top: -13px;
}

/* all online pending blocked */
.topPill-30KHOu .item-PXvHYJ {
    top: 6px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .4px;
    line-height: 18px;
    margin: 0 8px;
    padding: 2px 8px;
}

/*hovering another selector in friends gui */
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: var(--hover-color);
}




.guildsWrapper-5TJh6A {
	width: calc(1px * ((var(--vguildsize) + 10) * var(--vcolumns) + 35 - 25)) !important;
}
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {
	width: calc(1px * ((var(--vguildsize) + 10) * var(--vcolumns) + 35)) !important;
}
.guildsWrapper-5TJh6A,
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {
	padding: 0 !important;
}
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv .guilds-1q_RqH {
	padding: 10px 0 10px 10px !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
	margin: 4px 13px 4px -2px !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:not(#bd-pub-li),
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:not(#bd-pub-li) .guildInner-3DSoA4 a,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildsError-3cFMtY,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guildsAdd-21_IdK .guildsAddInner-1KMFy-,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .avatar-S_nsxk,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .homeIcon-1FoKUJ {
	height: calc(1px * var(--vguildsize)) !important;
	width: calc(1px * var(--vguildsize)) !important;
	line-height: calc(1px * var(--vguildsize)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:not(#bd-pub-li):not(.guildsAdd-21_IdK) {
	border: none !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .avatar-S_nsxk,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .homeIcon-1FoKUJ {
	background-size: cover !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq {
	font-size: calc(1px * (var(--vguildsize)/5)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq[style*="font-size: 12px"] {
	font-size: calc(1px * (var(--vguildsize)/4.1666)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq[style*="font-size: 14px"] {
	font-size: calc(1px * (var(--vguildsize)/3.5714)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq[style*="font-size: 16px"] {
	font-size: calc(1px * (var(--vguildsize)/3.125)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 .guildIcon-CT-ZDq[style*="font-size: 18px"] {
	font-size: calc(1px * (var(--vguildsize)/2.7777)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guildsAdd-21_IdK .guildsAddInner-1KMFy- {
	display: block !important;
	position: static !important;
	width: calc(1px * (var(--vguildsize) - (var(--vguildsize)/30))) !important;
	font-size: calc(1px * (var(--vguildsize)/(5/4))) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildsError-3cFMtY {
	font-size: calc(1px * (var(--vguildsize)/(5/2))) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guildsAdd-21_IdK .guildsAddInner-1KMFy-,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildsError-3cFMtY {
	line-height: calc(1px * (var(--vguildsize) - 5)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2 {
	font-size: calc(1px * (var(--vguildsize)/4)) !important;
	padding: calc(1px * (var(--vguildsize)/10 - 2)) calc(1px * (var(--vguildsize)/10 + 1)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildInner-3DSoA4[style*="border-radius: 23"],
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildInner-3DSoA4[style*="border-radius: 24"],
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildInner-3DSoA4[style*="border-radius: 25"] {
	transition: all .2s linear !important;
	border-radius: var(--vguildroundness) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
	top: 50% !important;
	left: -8px !important;
	border-radius: 0px 50px 50px 0px !important;
	width: 5px !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {
	height: calc(1px * (46.03756 + (9.744341 - 46.03756)/(1 + ((var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791))))) !important;
	margin-top: calc(1px * ((46.03756 + (9.744341 - 46.03756)/(1 + ((var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791)*(var(--vguildsize)/67.64791))))/-2)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
	height: calc(1px * (106.6077 + (19.08392 - 106.6077)/(1 + ((var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239))))) !important;
	margin-top: calc(1px * ((106.6077 + (19.08392 - 106.6077)/(1 + ((var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239)*(var(--vguildsize)/71.81239))))/-2)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.pinned:after,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.audio-3vVhBi:after,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.video-15yGu3:after {
	height: calc(1px * (var(--vguildsize)/2)) !important;
	width: calc(1px * (var(--vguildsize)/2)) !important;
	background-size: calc(1px * (var(--vguildsize)/3)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
	margin: 0 !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
	width: calc(1px * ((var(--vguildsize) + 10) * var(--vcolumns) - 10)) !important;
	margin: 10px 0 !important;
}
#server-search,
.guildsWrapper-5TJh6A:not(.foldercontent) .guilds-1q_RqH > .guild-1EfMGQ:first-child,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ:only-child {
	margin: 4px calc(1px * (((var(--vguildsize) + 10) * (var(--vcolumns) - 1))/2)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
	font-size: calc(1px * ((var(--vguildsize)/8) + 3.75)) !important;
}
#bd-pub-li,
#bd-pub-li .guildInner-3DSoA4,
#bd-pub-li .guildInner-3DSoA4 a {
	height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM,
#bd-pub-li,
#bd-pub-li .guildInner-3DSoA4,
#bd-pub-li .guildInner-3DSoA4 a {
	width: calc(1px * ((var(--vguildsize)*4/5) + 10)) !important;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM,
#bd-pub-li {
	margin: 4px calc(1px * (((var(--vguildsize) + 10) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 10) + var(--vguildsize))/2)) !important;
}
#bd-pub-li #bd-pub-button {
	font-size: calc(1px * ((var(--vguildsize)/10) + 7)) !important;
	line-height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
    
	
	
	
	

    
    
    